<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI207sQmB74BG-yM7P1qpUOaMgtGFSNRY</string>
	<key>GCM_SENDER_ID</key>
	<string>189636867451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiktokharu.harutik</string>
	<key>PROJECT_ID</key>
	<string>nomad-tiktok-hary</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-tiktok-hary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189636867451:ios:10ecf748a41594bf6879de</string>
</dict>
</plist>